{% extends "base.html" %}

{% block content %}
{{ super() }}

{% if page.meta.comments %}
    <h2>Comments</h2>
    <script src="https://giscus.app/client.js"
        data-repo="mokyen/okyensourcesoftware"
        data-repo-id="R_kgDOK-mjQw"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOK-mjQ84Cl7Cj"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
    <div class="giscus"></div>

    <hr>
    <small>
        <em>
            <span class="twemoji">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M6.18 15.64a2.18 2.18 0 0 1 2.18 2.18C8.36 19 7.38 20 6.18 20C5 20 4 19 4 17.82a2.18 2.18 0 0 1 2.18-2.18M4 4.44A1.44 1.44 0 0 1 5.44 3H18.56C19.35 3 20 3.65 20 4.44v2.42c0 .79-.65 1.44-1.44 1.44H5.44C4.65 8.3 4 7.65 4 6.86V4.44m14.56 7.3a2.18 2.18 0 0 1 0 4.36C17.38 16.1 16.4 15.1 16.4 14s.98-2.1 2.18-2.1M4 10.1a1.44 1.44 0 0 1 1.44-1.44h9.92c.79 0 1.44.65 1.44 1.44v2.42c0 .79-.65 1.44-1.44 1.44H5.44C4.65 14 4 13.31 4 12.52V10.1m14.56 7.3a2.18 2.18 0 0 1 0 4.36C17.38 21.76 16.4 20.78 16.4 19.6s.98-2.18 2.18-2.18M4 15.76a1.44 1.44 0 0 1 1.44-1.44h9.92c.79 0 1.44.65 1.44 1.44v2.42c0 .79-.65 1.44-1.44 1.44H5.44C4.65 19.62 4 18.97 4 18.18v-2.42Z"></path>
                </svg>
            </span>
            Subscribe to updates via <a href="/feed_rss_created.xml">RSS Feed</a>
        </em>
    </small>
    <hr>
{% endif %}
{% endblock %}
